.glow-wrapper {
  position: relative;
  width: 100%;
  background: #ffffff;
  overflow: hidden;
}

.glow {
  position: absolute;
  border-radius: 50%;
  filter: blur(150px);
  opacity: 0.2;
  z-index: 1;
}

.glow-pink {
  width: 500px;
  height: 500px;
  background: #0d428b;
  top: -10px;
  left: -10px;
}

.glow-purple {
  width: 600px;
  height: 600px;
  background: #2a5da5;
  top: 200px;
  right: -100px;
  opacity: 0.5;
  filter: blur(180px);
}

.glow-content {
  position: relative;
  z-index: 10;
}
